# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RPG\faz_de_conta_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
